<div style="background-color: #fff;">
  <h2>Visits so far</h2>
  <div class="display_visits visit_flex">
    <div class="button day">
      <animate-number
        class="display_today_num count"
        from="1"
        v-bind:to="today"
        duration="2500"
        easing="easeOutQuad"
      ></animate-number>
        <span>Your Visits</span>
    </div>
    <div class="button day">
      <animate-number
        class="display_today_num count"
        from="1"
        v-bind:to="count"
        duration="3500"
        easing="easeOutQuad"
      ></animate-number>
      <span>All Visits</span>
    </div>
  </div>
  <div style="margin-top:20px;flex: 1; flex-direction: row; display: flex;">
    <div class="styleBox">
      <img class="profile" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"src="../assets/profilesam.jpg">
    </div>
    <div class="styleBox">
        <img class="profile" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"src="../assets/profilemar.jpg">
    </div>
  </div>
  <div style="flex: 1; flex-direction: row; display: flex;">
    <div style="flex: 1; flex-direction: column; display: flex; justify-content: center;">
      <p>
        {{sam.name}}</br> {{sam.major}}</br> {{sam.school}}</br> {{sam.url}}</br>
      </p>
      <div class="styleBox">
        <a v-bind:href="urlJamiu">
          <img style="width: auto; height: 42px;" src="../assets/linkedinlogo.png">
        </a>
        <a v-bind:href="urlJamiu">
          <img style="width: auto; height: 39px;" src="../assets/facebooklogo.png">
        </a>
      </div>
    </div>
    <div style="flex: 1; flex-direction: column; display: flex; justify-content: center;">
      <p>
        {{jamiu.name}}</br> {{jamiu.major}}</br> {{jamiu.school}}</br> {{jamiu.url}}</br>
      </p>
      <div class="styleBox">
        <a v-bind:href="urlSam">
          <img style="width: auto; height: 42px;" src="../assets/linkedinlogo.png">
        </a>
        <a v-bind:href="urlJamiu">
          <img style="width: auto; height: 39px;" src="../assets/facebooklogo.png">
        </a>
      </div>
    </div>
  </div>
  <div style="flex: 1; display: flex; align-items: center;padding:10px;justify-content: center; flex-direction: row; border: 1px solid black; width: 100%;
    height: 100px; background-color: rgba(000,000,000,0.7); position: fixed;left:0;bottom:0; margin-top: 20px">
    <div style="position: absolute; top: -60px;">
      <a v-bind:href="url2">
      <img style="width: auto; height: 100px;" src="../assets/githublogo.png">
      </a>
    </div>
    <p style="color:white;">
    •JavaScript •HTML5 •Node.js •React •React Native •NPM •CSS •JQuery •UX/UI Design •Photoshop •AngularJS •Illustrator •Firebase •Wordpress •Git
    </p>
  </div>
</div>
